body {
  background-color: rgb(60, 60, 208);
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: blueviolet;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: aliceblue;
}
nav ul li a:hover {
  color: rgb(163, 30, 30);
  font-size: 1rem;
}
main hr {
  border: 0;
  background: rgb(58, 58, 172);
  height: 1.2px;
  margin: 30px 60px;
}
.left {
  font-size: 2.5rem;
}
.firstsection {
  display: flex;
  justify-content: space-around;
  margin: 110px 0;
  align-items: center;
}
.firstsection > div {
  width: 30%;
}
.leftsection {
  font-size: 2.5rem;
}
.rightsection img {
  width: 100%;
}
.purple {
  color: rgb(185, 123, 244);
}
.text-gray {
  color: rgb(240, 208, 208);
}
#element {
  color: aquamarine;
}
.secondsection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
  background: rgb(133, 141, 229);
}
.secondsection h1 {
  font-size: 2.5rem;
}
.secondsection .box {
  background: white;
  width: 77vw;
  height: 2px;
  margin: 60px 0;
  display: flex;
}
.secondsection .vertical {
  height: 90px;
  width: 1px;
  background-color: aliceblue;
  margin: 0 110px;
}
.image-top {
  width: 40px;
  position: relative;
  top: -40px;
  left: -10px;
}
.vertical-text {
  position: relative;
  top: 75px;
  width: 150px;
  font-size: 20px;
}
.vertical-desc {
  position: relative;
  top: 86px;
  width: 150px;
  font-size: 13px;
  color: azure;
}
/* Footer Base Style */
footer {
  background: rgb(37, 212, 235);
  padding-top: 50px;
}
.container {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.footer-content {
  width: 33.3%;
}
h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}
footer.content {
  width: 190px;
  margin: auto;
  padding: 7px;
}
footer.content ul {
  text-align: center;
}
.list {
  padding: 0;
}
.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}
.list li::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 0;
  height: 2px;
  background: rgb(123, 181, 219);
  transition-duration: 0.5s;
}
.list li:hover::before {
  width: 70px;
}
.social-icons {
  text-align: center;
  padding: 0;
}
.social-icons li {
  display: inline-block;
  text-align: center;
  padding: 5px;
}
.social-icons i {
  color: rgb(16, 124, 219);
  font-size: 30px;
}
a {
  text-decoration: none;
}
a:hover {
  color: rgb(38, 44, 98);
}
.social-icons i:hover {
  color: rgb(76, 32, 119);
}
.bottom-bar {
  background: rgb(200, 75, 238);
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}
.bottom bar p {
  color: rgb(87, 62, 213);
  margin: 0;
  font-size: 16px;
  padding: 7px;
}
